@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --var-default-spacing: 1rem;
    --var-color-gray: rgb(89, 89, 89);
}

::placeholder {
    color: var(--var-color-gray);
    font-weight: 300;
    opacity: 0.8;
}

.body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: var(--var-color-gray);
}

a {
    text-decoration: none;
    color: var(--var-color-gray)0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--var-default-spacing);
    border-bottom: 1px solid var(--var-color-gray);
}

.header--div {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--var-default-spacing);
}

.nav--ul--li {
    list-style: none;
    font-size: 1rem;
    background-color: var(--var-color-gray);
    color: white;
    padding: 3px var(--var-default-spacing);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.main {
    padding: var(--var-default-spacing);
}

.subject, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.subject--h2 {
    margin-bottom: var(--var-default-spacing);
}

.subject--container {
    border-radius: var(--var-default-spacing);
    border: 1px solid var(--var-color-gray);
    padding: 0 var(--var-default-spacing);

}

.subject--container--p {
    font-size: 1.5rem;
}

.articles--container {
    display: flex;
    flex-direction: column;
    margin: var(--var-default-spacing);
    padding: 3rem 20rem;
    gap: var(--var-default-spacing);
}

.articles--container--h3 {
    border-bottom: 1px solid var(--var-color-gray);
}

.article {
    display: flex;
    padding: var(--var-default-spacing);
    border: .15rem solid var(--var-color-gray);
    gap: var(--var-default-spacing);
}

.article:hover {
    background-color: var(--var-color-gray);
    color: white;
}

.article--cell, .display--cell {
    align-items: center;
    font-weight: 700;
}

.display--cell {
    padding: var(--var-default-spacing) 0;
}

.article--author-container {
    text-align: left;
    width: 30%;
}

.article--cell__info {
    font-size: 1rem;
}

.article--cell__title {
    font-size: 1rem;
}

.form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-spacing);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
}

.form--h2 {
    font-size: 2rem;
    margin: var(--var-default-spacing);
}

.form-fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: none;
}

.form-field, .form-area {
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: none;
    width: 100%;
    border: 1px solid var(--var-color-gray);
}

.form-field:focus, .form-area:focus {
    outline: 2px solid var(--var-color-gray);
}

.form-area {
    height: 10rem;
    resize: none;
}

.clickable {
    background-color: var(--var-color-gray);
    color: white;
    padding: var(--var-default-spacing);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.display {
    margin: var(--var-default-spacing);
    padding: 0 5rem;
}

.article--display {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    line-height:1.8rem;
    border: 1px solid var(--var-color-gray);
    padding: var(--var-default-spacing);

}

.footer {
    text-align: center;
    border-top: 1px solid var(--var-color-gray);
    width: 100%;
}